.movies-list{
    margin: 20px 0px;
}
.movies-list h2 {
    color: var(--font-secondry);
    margin-bottom: 10px;
    /*font-weight: 400;*/
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 650px;
}

.button-list{
    display: inline-block;
    background-color:  #668cff;
    border: 10px white;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    border-radius: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2px;
}

.movies-list:hover {
    background-color: #595959;
}

